<html>
  <body>
    <div style="float:left;">
      <form>
	<a href='/routes'>All</a>
	<select id=grade>
	  <option value="8b+">8b+</option>
	  <option value="8b">8b</option>
	  <option value="8a+">8a+</option>
	  <option value="8a" selected>8a</option>
	  <option value="7c+">7c+</option>
	  <option value="7c">7c</option>
	</select>
	<select id=stars>
	  <option value="" selected>stars</option>
	  <option value="*">*</option>
	  <option value="**">**</option>
	  <option value="***">***</option>
	</select>
	<!-- ToDo: pipe input of drop-down menu into url path, e.g., /onsights/Frankenjura -->
	<a href='/routes/onsights'>On-Sights</a>
	<a href='/routes/flashes/Frankenjura'>Flashes</a>
	<a href='/projects/Frankenjura'>Projects</a>
    </div>
    </form>

    <div style="float:left;">
      {{ routes | safe }}
      <!-- <table id="table_id"> -->
      <!-- 	<thead> -->
      <!-- 	  <tr> -->
      <!--       <th scope="#">name</th> -->
      <!--       <th scope="#">grade</th> -->
      <!-- 	  </tr> -->
      <!-- 	</thead> -->
      <!-- 	{% for route in routes %} -->
      <!-- 	<tr> -->
      <!--     <td>{{route.name}}</td> -->
      <!--     <td>{{route.grade}}</td> -->
      <!-- 	</tr> -->
      <!-- 	{% endfor %} -->
      <!-- </table> -->
    </div>
  </body>
</html>
